*{
    padding: 0;
    margin: 0;
}

.body{
    background: url();
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position:absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    background: white;
}

#board{
    background: linear-gradient(rgb(177, 240, 4), rgb(252, 252, 33));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(22, 1fr); 
    grid-template-columns:repeat(22, 1fr); 
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 12px;
}

.snake{
    /* background: rgb(5, 249, 26); */
    background: linear-gradient(rgb(245, 47, 3), rgb(8, 247, 8));
    border: .25vmin solid rgb(20, 2, 57);
    border-radius: 12px;

}

.food{
    /* background: linear-gradient(red, orange);
    border: .25vmin solid Black;
    border-radius: 12px; */

    background: url(/images/apple.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
}